groq
edge-tts
pygame
SpeechRecognition
PyAudio
pyautogui
keyboard
pycaw
comtypes
python-dotenv
websockets
pywebview
spotipy
requests
playwright
beautifulsoup4
google-auth
google-auth-oauthlib
google-api-python-client
vosk
pyttsx3
